body{
    margin: 0;
    background-color: #09871D;
}
.background{
    background-image: url(/4567367.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
}
.display{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
    column-gap: 20px;
}
.containe{
    padding: 10px 10px 10px 10px;
}
#first{
    margin-top: -35px;
    margin-left: 15px;
}
.line2{
    padding-left: 100px !important;
}
.name{
    position: relative;
    top: -70px;
    left: 20px;
    font-weight: 900 !important;
}
.number{
    position: relative;
    top: -30px;
    left: -25px;
    font-weight: 900 !important;
    font-size: 30px;
}
.position{
    color: white;
    letter-spacing: 5px;
    position: relative;
    top: 15px;
    left: -60px;
    font-weight: 900 !important;
}
.name3{
    position: relative;
    top: -70px;
    left: 50px;
    font-weight: 900 !important;
}
.number3{
    position: relative;
    top: -30px;
    left: 5px;
    font-weight: 900 !important;
    font-size: 30px;
}
.position3{
    color: white;
    letter-spacing: 5px;
    position: relative;
    top: 15px;
    left: -30px;
    font-weight: 900 !important;
}
.name5{
    position: relative;
    top: -70px;
    left: 33px;
    font-weight: 900 !important;
}
.number5{
    position: relative;
    top: -30px;
    left: -20px;
    font-weight: 900 !important;
    font-size: 30px;
}
.position5{
    color: white;
    letter-spacing: 5px;
    position: relative;
    top: 15px;
    left: -60px;
    font-weight: 900 !important;
}
.name6{
    position: relative;
    top: -70px;
    left: 41px;
    font-weight: 900 !important;
}
.number6{
    position: relative;
    top: -30px;
    left: -10px;
    font-weight: 900 !important;
    font-size: 30px;
}
.position6{
    color: white;
    letter-spacing: 5px;
    position: relative;
    top: 15px;
    left: -40px;
    font-weight: 900 !important;
}
.name7{
    position: relative;
    top: -70px;
    left: 48px;
    font-weight: 900 !important;
}
.number7{
    position: relative;
    top: -30px;
    left: px;
    font-weight: 900 !important;
    font-size: 30px;
}
.position7{
    color: white;
    letter-spacing: 5px;
    position: relative;
    top: 15px;
    left: -30px;
    font-weight: 900 !important;
}
.name8{
    position: relative;
    top: -70px;
    left: -47px;
    font-weight: 900 !important;
}
.number8{
    position: relative;
    top: -30px;
    left: -90px;
    font-weight: 900 !important;
    font-size: 30px;
}
.position8{
    color: white;
    letter-spacing: 5px;
    position: relative;
    top: 15px;
    left: -115px;
    font-weight: 900 !important;
}
.name9{
    position: relative;
    top: -70px;
    left: -80px;
    font-weight: 900 !important;
}
.number9{
    position: relative;
    top: -30px;
    left: -123px;
    font-weight: 900 !important;
    font-size: 30px;
}
.position9{
    color: white;
    letter-spacing: 5px;
    position: relative;
    top: 15px;
    left: -155px;
    font-weight: 900 !important;
}
.name10{
    position: relative;
    top: -70px;
    left: -75px;
    font-weight: 900 !important;
}
.number10{
    position: relative;
    top: -30px;
    left: -110px;
    font-weight: 900 !important;
    font-size: 30px;
}
.position10{
    color: white;
    letter-spacing: 5px;
    position: relative;
    top: 15px;
    left: -145px;
    font-weight: 900 !important;
}
.name11{
    position: relative;
    top: -70px;
    left: 20px;
    font-weight: 900 !important;
}
.number11{
    position: relative;
    top: -30px;
    left: -15px;
    font-weight: 900 !important;
    font-size: 30px;
}
.position11{
    color: white;
    letter-spacing: 5px;
    position: relative;
    top: 15px;
    left: -45px;
    font-weight: 900 !important;
}
@media screen and (max-width: 500px) {
    .background{
        background-image: url(/4567367.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 100vh;
        width: 380px;
        /* overflow-y: hidden; */
    }
    .containe{
        padding: 95px 10px 10px 10px;
    }
     #first{
        margin-top: -110px;
        margin-left: 15px;
    }
    .left{
        height: 100px;
    }
    .name{
        position: relative;
        top: -70px;
        left: 20px;
        font-weight: 900 !important;
    }
    .number{
        position: relative;
        top: -30px;
        left: -25px;
        font-weight: 900 !important;
        font-size: 30px;
    }
    .position{
        color: white;
        letter-spacing: 5px;
        position: relative;
        top: -5px;
        left: 30px;
        font-weight: 900 !important;
    }
    .position3{
        color: white;
        letter-spacing: 5px;
        position: relative;
        top: -5px;
        left: 30px;
        font-weight: 900 !important;
    }
    .left2{
        position: relative;
        top: 8px;
    }
    .position5{
        color: white;
        letter-spacing: 5px;
        position: relative;
        top: -5px;
        left: 30px;
        font-weight: 900 !important;
    }
    .position6{
        color: white;
        letter-spacing: 5px;
        position: relative;
        top: -5px;
        left: 30px;
        font-weight: 900 !important;
    }
    .line2{
        position: relative;
        top: -40px;
    }
    #second{
        position: relative;
        right: 98px;
    }
    .number7{
        position: relative;
        top: -60px;
        left: 30px;
        font-weight: 900 !important;
        font-size: 30px;
    }
    .position7{
        color: white;
        letter-spacing: 5px;
        position: relative;
        top: -37px;
        left: 30px;
        font-weight: 900 !important;
    }
    #third{
        position: relative;
        right: 85px;
    }
    .name8{
        position: relative;
        top: -90px;
        left: 18px;
        font-weight: 900 !important;
    }
    .number8{
        position: relative;
        top: -80px;
        left: 42px;
        font-weight: 900 !important;
        font-size: 30px;
    }
    .position8{
        color: white;
        letter-spacing: 5px;
        position: relative;
        top: -34px;
        left: 15px;
        font-weight: 900 !important;
    }
}