body{
    margin: 0;
    overflow-y: hidden;
}
.background{
    background-image: url(/4567367.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
}
.display{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    column-gap: 20px;
}
.containe{
    padding-top: 50px;
}
#ninth{
    position: relative;
    /* top: -80px; */
}
.number{
    /* color: red; */
    position: relative;
    top: -70px;
    left: -80px;
    font-weight: 900 !important;
}